/* CSS declarations go here */
#board {
    font-size: 28px;
}

.picker {
    font-size: 28px;
    width: 280px;
    position: relative;
    display: inline;
}

input {
    font-size: 28px;
    text-align: right;
    max-width: 400px;
    width: 128px;
    border: 0px solid;
}

input:focus {
    outline:none;
}

.picker__holder {
    min-width: 360px;
    position: relative;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.unclickable {
    pointer-events: none;
}
