/* CSS declarations go here */
#board {
    font-size: 28px;
}

.picker {
    font-size: 28px;
    text-align: right;
    width: 256px;
    position: relative;
    display: inline;
}

input {
    font-size: 28px;
    text-align: right;
    max-width: 256px;
    min-width: 128px;
    padding-right: 4px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

input:focus {
    outline:none;
}

.picker__holder {
    min-width: 360px;
    position: relative;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.disabled {
    pointer-events: none;
    color: black;
    border-style:dashed;
}
